kind: Deployment
apiVersion: apps/v1
metadata:
  name: nginx-deployment
  # namespace: expense
  labels:
    app: nginx
    tier: frontend
spec:
  replicas: 5
  selector:
    matchLabels:
      app: nginx
      tier: frontend
      project: expense
  template:
    metadata:
      labels:
        app: nginx
        tier: frontend
        project: expense
    spec:
      containers:
      - name: nginx
        image: nginx
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
  # namespace: expense
spec:
  selector:
    app: nginx
    tier: frontend
    project: expense
  ports:
  - protocol: TCP
    port: 80 #service-port
    targetPort: 80 #target-port