kind: Deployment
apiVersion: apps/v1
metadata:
  name: nginx-deployment
  labels:
    app: nginx
    tier: frontend
spec:
  replicas: 10
  selector:
    matchLabels:
      app: nginx
      tier: frontend
      project: expense
  template:
    metadata:
      labels:
        app: nginx
        tier: frontend
        project: expense
    spec:
      containers:
      - name: nginx
        image: nginx